
.project
.settings/org.eclipse.core.resources.prefs
_ngo*
_xmsgs*
iseconfig*
planAhead*
xlnx_*
xst/*
*.xml
*.html
*.prj
*.tcl
*.bld
*.gise
*.lso
*.ncd
*.ngc
*.cmd_log
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.xise
*.xpi
*.xst
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt