
.project
.settings/org.eclipse.core.resources.prefs
_xmsgs/pn_parser.xmsgs
iseconfig/uart_rx.xreport
UART.gise
UART.xise
uart_rx_summary.html
.lso
_xmsgs/xst.xmsgs
mod_m_counter.cmd_log
mod_m_counter.ngc
mod_m_counter.syr
mod_m_counter.stx
mod_m_counter.prj
mod_m_counter.ngr
mod_m_counter.lso
mod_m_counter.xst
mod_m_counter_envsettings.html
mod_m_counter_summary.html
mod_m_counter_vhdl.prj
mod_m_counter_xst.xrpt
uart_rx.cmd_log
uart_rx.lso
uart_rx.ngc
uart_rx.ngr
uart_rx.prj
uart_rx.stx
uart_rx.syr
uart_rx.xst
uart_rx_envsettings.html
uart_rx_vhdl.prj
uart_rx_xst.xrpt
xst/work/hdllib.ref
xst/work/sub00/vhpl02.vho
xst/work/sub00/vhpl03.vho
xst/work/sub00/vhpl01.vho
xst/work/sub00/vhpl00.vho
xst/work/hdpdeps.ref
webtalk_pn.xml